.mydivoverlap{
    position: relative;
    z-index: 1;
    }
    .mybuttonoverlap{
    position: absolute;
    z-index: 2;
    top: 44px;
    display: none;
    left: 50px;	
    }
   .mydivouter:hover .mybuttonoverlap{ 
    display:block;
    margin-left: 20%;
    margin-top: 10%;
    }

    h2,h5{
        text-align: center;
    }
    img{
    width: 102%;

    }
   
    img{
       height:100%;
       width: 80%;
    }