<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Menu</title>
</head>


<body>
  <section id="resturantmenu">

    <h2>"Good Food is Good Mood!!" </h2>
    <h5>All Family Tradition Recipes, Everything is Fresh HomeMade From Scratch</h5>


    <div class="container">

      <div class="row">
        <div class="col-md-4 col-sm-6" *ngFor="let mns of menus | async">
          <!--ngFor is like foreach loop in c-sharp -->

          <div class="media-object">
            <div class="mydivouter">
              <img class= "img-thumbnail" src="{{mns.data.imageUrl}}" >
              <!-- <input type="button" class="mybuttonoverlap btn btn-info btn-lg" value="View Details"
              routerLink="/detail/{{mns.itemid}}"/> -->
              <a [routerLink]="['/detail', mns.id]">link

              </a>
            </div>
          </div>
          <div id="description">
           <!-- <span class="badge">{{mns.data.itemid}}</span> -->
           <span>{{mns.data.name}} </span>

            <div><span>Price:{{mns.data.price}} dk</span></div>

          </div>

        </div>
      </div>

    </div>
  </section>
  <!-- <app-menu-detail [menu]="selectedMenu"></app-menu-detail> -->
</body>

</html>