<table class="table table-hover">
  <thead>
    <th>ItemID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Offer</th>
    <th>Image</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let mns of menus | async" style="height: 8px;">
      <td (click)="onUpdate(mns.data)">{{mns.data.itemid}}</td>
      <td (click)="onUpdate(mns.data)">{{mns.data.name}}</td>
      <td (click)="onUpdate(mns.data)">{{mns.data.description}}</td>
      <td (click)="onUpdate(mns.data)">{{mns.data.price}}</td>
      <td (click)="onUpdate(mns.data)">{{mns.data.offer}}</td>
      <td class="media-object" (click)="onUpdate(mns.data)"><img src="{{mns.data.imageUrl}}" height="55" width="55">

      </td>
      <td><button class="btn text-danger" (click)="onDelete(mns.id)"><i class="fa fa-trash"></i></button></td>
    </tr>
  </tbody>
</table>