<h1>Here you can Have the Detail view of our menu</h1><br><br>
<div class="container" *ngIf="menu">
  <div class="row">
  <div class="col-lg-5 col-sm-6">
  <div class="media-object">
    <div href="#">
      <a href="{{menu.imageUrl}}">
      <img src="{{ menu.imageUrl}}">
    </a>
    </div> 
  </div>
  <div id="detailpage">
    <div><span>Id:</span>{{menu.id}}</div>
    <div><span>name:</span>{{menu.name }}</div>
    <div><span>Price:</span>{{menu.Price}}</div>
    <app-rating [rating]="menu.rating" [numOfReviews]="menu.numOfReviews">
    </app-rating>
    <div><span>Comments: {{menu.comments}}</span></div><br>
    <div ><span  class="badge" id="pulse-button">{{menu.offer}}</span></div> 
   
  </div>  
</div>
<div class="col-lg-6 col-sm-8">
<h3>Description</h3>
    <div id="menudetail"><span>{{menu.description}}</span></div>
</div>
</div>
</div>