<h1>Here you can Have the Detail view of our menu</h1><br><br>
<div class="container" *ngIf="menu">
  <div class="row">
  <div class="col-lg-5 col-sm-6">
  <div class="media-object">
    <div href="#">
      <a href="{{menu.data.imageUrl}}">
      <img src="{{ menu.data.imageUrl}}">
    </a>
    </div> 
  </div>
  <div id="detailpage">
    <div><span>ItemID:</span>{{menu.data.itemid}}</div>
    <div><span>name:</span>{{menu.data.name }}</div>
    <div><span>Price:</span>{{menu.data.price}}</div>
    
    <div ><span  class="badge" id="pulse-button">{{menu.data.offer}}</span></div> 
   
  </div>  
</div>
<div class="col-lg-6 col-sm-8">
<h3>Description</h3>
    <div id="menudetail"><span>{{menu.data.description}}</span></div>
</div>
</div>
</div>