.navbar{
    background-color: currentColor;

}
.navbar li a {
    color: white;
    text-decoration: none; 
    font-size: 18px; 
    cursor: pointer;   
}
.nav-home{
    margin-left: 17%;
}
.navbar-nav{
    margin-right: 7%;
}



/* css footer-section */

/* footer{
    background-color: black;
    height:200%;
    margin-top: auto;
}
.footer-main-container{
    margin: auto;
}
.up-btn{
    background-color: gray;
    align-content: center;
    
    
}
.up-btn a {
    text-decoration: none;
    text-align: center;
    color: white;
    }
        
    .fa{
        padding:20px;
        font-size: 22px;
        width: 60px;
        text-align: center;
        text-decoration: none;
        margin: 1px 10px;
        border-radius: 50%
    }
    .fa:hover{
        opacity: 0.8;
         
       }
       .fa-facebook{
           background: #3B5998;
           color: white;
       } 
       .fa-youtube {
        background: #bb0000;
        color: white;
      }
      .fa-instagram {
        background: #ec6f35;
        color: white;
      }
           
      .information-container{
          background-color: blanchedalmond;
      }

      .footer-container{
          margin-top: 10%;
      } */