<div style="text-align:center">

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <ul class="nav-home">
          <li> <a routerLink="/menus" class="glyphicon glyphicon-home"> Home</a> </li>

        </ul>

        <ul class="navbar-nav">
          <li><a routerLink="/menu-crud"*ngIf="isLoggedIn |async">Create Menu</a></li>
          <li><a (click)="onLogout()" *ngIf="isLoggedIn | async">Logout</a></li>
          <li><a routerLink="/login" *ngIf="!(isLoggedIn | async)">LogIn</a></li>
          <li><a routerLink="/signup" *ngIf="!(isLoggedIn | async)">SignUp</a></li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>

    <!-- footer-section -->

    <!-- <footer class="footer-container">
    <div class="footer-main-container">     
  
    
      <div class="up-btn">
        <a href="#"> ^ TOP OF PAGE</a>
      </div>

      <div class="media-container">
         
          <a herf="#" class="fa fa-facebook"></a> 
          <a href="https://www.youtube.com/channel/UCJFp8uSYCjXOMnkUyb3CQ3Q" class="fa fa-youtube"></a>
          <a href="#" class="fa fa-instagram"></a>
       

      </div>
      <div class="information-container">
        <div class="about ">
          <a href="#"> > About us</a>
        </div>
      </div>
    </div> 
       
    </footer> -->

  </body>
</div>