
<div style="text-align:center">
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          
          <ul class="nav navbar-nav navbar-left">   
           <li> <a routerLink = "/menus" class="glyphicon glyphicon-home"> Home</a> </li>
           <li><a routerLink = "/browsemenu">BrowseMenu</a></li>
            </ul> 
            <ul class="nav navbar-nav navbar-right">   
              <li><a routerLink= "/menu-crud">Menu-Crud</a></li>         
           <li><a routerLink="/login">LogIn</a></li> 
           <li><a routerLink="/signup">Create account</a></li> 

          </ul>
        </div>     
    
    </nav>    
   
  <router-outlet></router-outlet>

  <!-- footer-section -->

  <footer class="footer-container">
    <div class="footer-main-container">     

    <!-- for up button -->
      <div class="up-btn">
        <a href="#"> ^ TOP OF PAGE</a>
      </div>
<!-- media container -->
      <div class="media-container">
         
          <a herf="#" class="fa fa-facebook"></a> 
          <a href="https://www.youtube.com/channel/UCJFp8uSYCjXOMnkUyb3CQ3Q" class="fa fa-youtube"></a>
          <a href="#" class="fa fa-instagram"></a>
       

      </div>
      <div class="information-container">
        <div class="about ">
          <a href="#"> > About us</a>
        </div>
      </div>
    </div> 
       
    </footer>
  </body>
  </div>

 